#form-employee,
#btnPosts {
  width: 50%;
  margin-left: 10em;
  margin-top: 5em;
}

.table {
  width: 90%;
  margin-left: auto;
  margin-top: 5em;
  margin-right: auto;
}

h1 {
  text-align: center;
}

#btnPosts {
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
}
